<div class="card bg-dark text-white">
  <img class="card-img" id="userImg" src="/images/gta6-login.jpg" alt="Card image">
  <div class="card-img-overlay">
    <nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Social</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Purachase</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light">Prebook</a>
        </li>
      </ul>
          <p id="userText">{{username}}</p>
      <ul class="d-flex">
        <li><img src="https://cdn-icons-png.flaticon.com/128/185/185964.png" alt="img"></li>
        <li><img src="https://cdn-icons-png.flaticon.com/128/1377/1377223.png" alt="img"></li>
        <li><img src="https://cdn-icons-png.flaticon.com/128/185/185985.png" alt="img"></li>
        <li><img src="https://cdn-icons-png.flaticon.com/128/185/185961.png" alt="img"></li>
      </ul>
    <button  id="logout"><a href="/logout">Logout</a></button>
    </div>
  </div>
</nav>

<div class=" box zoom text-center">
<p class="text-xxl-center" style=" font-size: 2rem; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> G T A 
  <br>
VI - 6
<br>
 Rockstargames</p>

</div>
  </div>
</div>
